<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article2</title>
</head>
<body>
<h3>Article 2</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus deleniti dolorem laboriosam nam quae repudiandae sapiente totam. Aliquam, animi dignissimos enim nesciunt repudiandae soluta? Alias atque blanditiis deserunt dignissimos doloribus fugiat id illum in, inventore laborum possimus sint, sunt velit. Aliquid autem, culpa dignissimos distinctio ea eius enim facere natus quidem ullam vero vitae.</p>
</body>
</html>